@using Microsoft.AspNet.Identity.EntityFramework
@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "Danh sách quyền truy cập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-example navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbar-ex-2">
            <div class="navbar-nav me-auto">
                <a class="nav-item nav-link " href="/home">Trang chủ</a>
                <a class="nav-item nav-link active" href="/Role">Quyền truy cập</a>
            </div>

            <span class="navbar-text">@ViewBag.Title</span>
        </div>
    </div>
</nav>


<div class="card">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-header m-0">@ViewBag.Tittel</h5>
        <a href="/Role/Create" class="btn btn-outline-primary" style="margin-right: 40px;">Thêm mới</a>
    </div>

    <div class=" text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Quyền truy cập</th>
                   
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @if (Model != null && Model.Any())
                {
                    int stt = 1;                 
                    foreach (var item in Model)
                    {
                        <tr >
                            <td class="text-center">@stt</td>
                            <td class="text-center"><i class="fab fa-angular fa-lg text-danger me-3 "></i> <strong>@item.Name</strong></td>

                            <td class="text-center">
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                     
                                        <a class="dropdown-item" href="/Role/edit/@item.Id"><i class="bx bx-edit-alt me-1"></i> Sửa</a>
                                    
                                    </div>
                                </div>
                            </td>
                        </tr>
                        stt++;
                    }
                }
                else
                {
                    <tr>
                        <td>Không có bản ghi nào</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
